<div class="container">	
	<div class="row">
		<div class="col-md-4">
			<h2>Business Unit</h2>
      <select class="form-control" ng-options="brand as brand.name for brand in brands.availableOptions track by brand.project_id" ng-model="brands.model"></select>
    </div>
		<div class="col-md-4" ng-show="brands.model">
      <h2>Date</h2>
      <div class="dropdown">
			  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
			    <div class="input-group">
			    	<input type="text" class="form-control" data-ng-model="date.dateDropDownInput">
			    	<span class="input-group-addon">
			    		<i class="glyphicon glyphicon-calendar"></i>
			    	</span>
			    </div>
			  </a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			    <datetimepicker data-ng-model="date.dateDropDownInput" data-on-set-time="getPages(newDate)" data-datetimepicker-config="{ startView:'day', minView:'day' }"/>
			  </ul>
			</div>
		</div>
    <div class="col-md-4" ng-show="pages.visibility">
      <h2>Page</h2>
      <select class="form-control" ng-options="page as page.name for page in pages.availableOptions track by page.id" ng-model="pages.model" ng-change="getExperiments()"></select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" ng-show="campaigns.visibility">
      <h2>Audiences</h2>
      <select class="form-control" ng-options="audience as audience.name for audience in audiences.availableOptions track by audience.id" ng-model="audiences.model"></select>
    </div>
    <div class="col-md-8" ng-show="campaigns.visibility">
      <div ng-show="campaigns.loading">
        <center><div class="spinner"></div></center>
      </div>
      <div ng-hide="campaigns.loading">  
        <h2>Campaigns</h2>
        <div class="panel">
          <ul ng-repeat="x in data.campaigns">
            <li >{{ x.name }}</li>
            <ul ng-repeat="z in data.campaigns[$index].experiments">
              <li>{{z.name}} |<i> start: {{z.schedule.start_time | date:'shortDate'}} end: {{z.schedule.stop_time | date:'shortDate'}}</i></li>
              <ul ng-repeat="y in data.campaigns[$parent.$index].experiments[$index].variations" >
                <li>{{y.name}} <input type="checkbox"></li>
              </ul>
            </ul>    
          </ul> 
        </div>  
      </div>  
    </div> 
  </div>  
  <div class="row">
		<div class="col-md-12">
			<br><br>
      <p><a class="btn btn-primary pull-right" href="#" role="button" ng-click="getUrl()" ng-enabled="brands.model && date.dateDropDownInput && pages.model && audiences.model" ng-hide="!audiences.model || audiences.model.length == 0">Create Link &raquo;</a></p>
    </div>
  </div> 
  <div class="row">
		<div class="col-md-12">
		<br><br>
			<div class="panel panel-default overflow" ng-show="final_url">
  			<div class="panel-body">
  				<button class="btn btn-success" ngclipboard data-clipboard-target="#wip_url">Copy URL</button><br><br>
  				<a class="small" target="_blank" href="{{final_url}}" id="wip_url">{{final_url}}</a>
  			</div>	
			</div>
    </div>
  </div>  
